<section class="footer">
    <section class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h4><span>Mediwork</span></h4>
                    <p>Somos especialistas en la gestion de servicios de salud ocupacional.
                        Birndamos un servicio integral para las empresas y trabajadores.</p>
                </div>
                <div class="col-sm-4">
                    <h4><span>Newsletter</span></h4>
                    <p>Suscribase a nuestro newsletter y reciba las noticas mas recientes sobre medicina del trabajo.</p>

                    <newsletter-form></newsletter-form>

                </div>
                <div class="col-md-4">
                    <h4><span>Contacto</span></h4>
                    <ul class="icon-list">
                        <li><i class="fa fa-envelope"></i><a href="mailto:mediwork@mediwok.com.ar" title="mediwork@mediwok.com.ar">mediwork@mediwok.com.ar</a></li>
                        <li><i class="fa fa-phone"></i>(0345) 4221000 lineas rotativas</li>
                        <li><i class="fa fa-fax"></i>(0345) 4211687</li>
                        <li><i class="fa fa-map-marker"></i>Alvear 688, Concordia, Entre Rios</li>
                    </ul>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
    <section class="footer-bottom">
        <div class="container">
            <p>© 2016 Mediwork - Todos los derechos reservados.</p>
        </div><!-- end container -->
    </section>
</section>